
language: python
python:
    - '3.8'

install:
    - pip install -r requirements-dev.txt

env:
    - PYTHONPATH=/home/travis/build/zx811/flask-api

script:
    - make tests

# deploy to heroku on push to master
deploy:
    - provider: heroku
      api_key: $HEROKU_API_KEY
      app: swe-temp
      on:
          branch: master

#after_success:
#    - ./deploy.sh
#
#notifications:
#  slack: devopsnyu:vAFcJBgAP2f73SqhWgb40Gjf
